.mainHeader {
  /* background-color: rgb(152, 152, 190); */
  background-color: rgb(120, 177, 188, .8);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.mainHeader a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.AppTitle {
  font-size: 1.6rem;
}


span a, span{
  font-size: 1rem;
  color: #111;
  /* padding: 10px; */
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}