<agm-map [latitude]="userLocation.latitude" [longitude]="userLocation.longitude" [zoom]="userLocation.zoomLevel"
  (zoomChange)="onMapZoom($event)">

  <!-- Browser Location -->
  <agm-marker *ngIf="userMarker" [latitude]="userLocation.latitude" [longitude]="userLocation.longitude" iconUrl="http://maps.google.com/mapfiles/ms/icons/lightblue.png">
    <agm-info-window>You Are Here</agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="userLocation.latitude" [longitude]="userLocation.longitude" [radius]="1000" [fillColor]="'rgba(84, 149, 255, 1)'">
  </agm-circle>

  <!-- Nearby Locations -->

  <div *ngIf="allOrgs">

    <agm-marker *ngFor="let m of allOrgs" [latitude]="m.location.latitude" [longitude]="m.location.longitude">

      <agm-info-window>
        <strong>
          <a [routerLink]="['org', m.id ]">
            {{ m.title }}
          </a>
        </strong>
      </agm-info-window>

    </agm-marker>
  </div>




</agm-map>