<h1 mat-dialog-title class="regHeader">
  Lets get a little more information about your Organaization
</h1>

<div mat-dialog-content>
  <div class="orgInfo">
    <form class="orgContainer" #orgForm="ngForm" novalidate>
      <mat-form-field class="orgName">
        <input
          type="text"
          matInput
          #title="ngModel"
          required
          minlength="2"
          name="title"
          [(ngModel)]="data.orgInfo.title"
          placeholder="{{ 'Organization Name' || data.orgInfo.title }}"
        />
        <mat-error *ngIf="title.invalid && title.touched">
          Title is required
        </mat-error>
      </mat-form-field>

      <div class="address">
        <mat-form-field class="address1">
          <input
            type="text"
            matInput
            #streetAddress1="ngModel"
            required
            minlength="2"
            name="streeetAddress1"
            [(ngModel)]="data.orgInfo.streetAddress1"
            placeholder="{{ 'Street Address' || data.orgInfo.streetAddress1 }}"
          />
          <mat-error *ngIf="streetAddress1.invalid && streetAddress1.touched">
            Address is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="address2">
          <input
            type="text"
            matInput
            #streetAddress2="ngModel"
            name="streetAddress2"
            [(ngModel)]="data.orgInfo.streetAddress2"
            placeholder="{{ 'Unit' || data.orgInfo.streetAddress2 }}"
          />
        </mat-form-field>
      </div>

      <div class="locality">
        <mat-form-field class="city">
          <input
            type="text"
            matInput
            #city="ngModel"
            required
            name="city"
            [(ngModel)]="data.orgInfo.city"
            placeholder="{{ 'City' || data.orgInfo.city }}"
          />
          <mat-error *ngIf="city.invalid && city.touched">
            City is required</mat-error
          >
        </mat-form-field>

        <mat-form-field class="state">
          <input
            type="text"
            matInput
            #state="ngModel"
            name="state"
            minlength="2"
            maxlength="2"
            [(ngModel)]="data.orgInfo.state"
            placeholder="{{ 'State' || data.orgInfo.state }}"
          />
          <mat-error *ngIf="state.invalid && state.touched">
            State is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="zipcode">
          <input
            type="number"
            matInput
            #zipcode="ngModel"
            required
            name="zipcode"
            [(ngModel)]="data.orgInfo.zipcode"
            placeholder="{{ 'Zip' || data.orgInfo.zipcode }}"
          />
          <mat-error *ngIf="zipcode.invalid && zipcode.touched">
            Zipcode is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="contact">
        <mat-form-field class="website">
          <input
            type="text"
            matInput
            #website="ngModel"
            name="website"
            pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"
            [(ngModel)]="data.orgInfo.website"
            placeholder="{{ 'website' || data.orgInfo.website }}"
          />
          <mat-error *ngIf="website.invalid && website.touched">
            Invalid Website Site
          </mat-error>
        </mat-form-field>
        <mat-form-field class="phone">
          <input
            type="tel"
            matInput
            #phone="ngModel"
            name="phone"
            minlength="10"
            pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$"
            [(ngModel)]="data.orgInfo.phone"
            placeholder="{{ 'Phone #' || data.orgInfo.phone }}"
          />
          <mat-error *ngIf="phone.invalid && phone.touched">
            Invalid Phone Number
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <!-- <agm-map
    class="map"
    [latitude]="data.orgInfo.location.lat"
    [longitude]="data.orgInfo.location.lng"
    [zoom]="16"
    [fullscreenControlOptions]="false"
    [zoomControl]="false"
  >
    <agm-marker
      [latitude]="data.orgInfo.location.lat"
      [longitude]="data.orgInfo.location.lng"
    >
    </agm-marker>
  </agm-map> -->
    <img
      class="map"
      style="background-image: url('https://picsum.photos/200')"
    />
  </div>

  <!--  !! Needs all validations and send them to register button !!   -->

  <div class="userForm">
    <h5>This is the information you will use to Log In</h5>
    <form #userForm="ngForm">
      <mat-form-field class="email">
        <input
          type="email"
          matInput
          name="email"
          required
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"
          [(ngModel)]="data.newUser.email"
          placeholder="Email"
        />
        <mat-error *ngIf="email.invalid && email.touched">
          Invalid Phone Number
        </mat-error>
      </mat-form-field>

      <div class="password">
        <mat-form-field class="pass">
          <input
            type="password"
            matInput
            required
            #password="ngModel"
            name="password"
            [(ngModel)]="data.newUser.password"
            placeholder="Password"
          />
        </mat-form-field>
        <mat-form-field class="verifyPass">
          <input
            type="password"
            matInput
            required
            #verifyPassword="ngModel"
            name="verifyPassword"
            [(ngModel)]="data.newUser.verifyPassword"
            placeholder="Verify Password"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            password.value != verifyPassword.value &&
            password.valid &&
            verifyPassword.valid
          "
        >
          Passwords DO NOT Match
        </mat-error>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="actions">
  <button mat-flat-button (click)="onCancel()">
    Cancel
  </button>
  <button
    mat-raised-button
    [disabled]="orgForm.form.invalid"
    color="accent"
    cdkFocusInitial
    (click)="onRegister()"
  >
    Ok
  </button>
</div>

<!-- !Safety! -->
<!-- 

<h1 mat-dialog-title class="regHeader">
  Lets get a little more information about your Organaization
</h1>

<div mat-dialog-content class="container" *ngIf="data.orgInfo">
  <agm-map
    class="map"
    [latitude]="data.orgInfo.location.lat"
    [longitude]="data.orgInfo.location.lng"
    [zoom]="16"
    [fullscreenControlOptions]="false"
    [zoomControl]="false"
  >
    <agm-marker
      [latitude]="data.orgInfo.location.lat"
      [longitude]="data.orgInfo.location.lng"
    >
    </agm-marker>
  </agm-map>

  <mat-form-field class="orgName">
    <input
      floatLabel="never"
      type="text"
      matInput
      name="name"
      [(ngModel)]="data.orgInfo.title"
      placeholder="{{ 'Organization Name' || data.orgInfo.title }}"
    />
  </mat-form-field>

  <div class="address">
    <mat-form-field class="address1">
      <input
        floatLabel="never"
        type="text"
        matInput
        name="streeetAddress1"
        [(ngModel)]="data.orgInfo.streetAddress1"
        placeholder="{{ 'Street Address' || data.orgInfo.streetAddress1 }}"
      />
    </mat-form-field>
    <mat-form-field class="address2">
      <input
        floatLabel="never"
        type="text"
        matInput
        name="streetAddress2"
        [(ngModel)]="data.orgInfo.streetAddress2"
        placeholder="{{ 'Unit' || data.orgInfo.streetAddress2 }}"
      />
    </mat-form-field>
  </div>
  <div class="locality">
    <mat-form-field class="city">
      <input
        floatLabel="never"
        type="text"
        matInput
        name="city"
        [(ngModel)]="data.orgInfo.city"
        placeholder="{{ 'City' || data.orgInfo.city }}"
      />
    </mat-form-field>
    <mat-form-field class="state">
      <input
        floatLabel="never"
        type="text"
        matInput
        name="state"
        [(ngModel)]="data.orgInfo.state"
        placeholder="{{ 'State' || data.orgInfo.state }}"
      />
    </mat-form-field>
    <mat-form-field class="zipcode">
      <input
        floatLabel="never"
        type="number"
        matInput
        name="zipcode"
        [(ngModel)]="data.orgInfo.zipcode"
        placeholder="{{ 'Zipcode' || data.orgInfo.zipcode }}"
      />
    </mat-form-field>
  </div>
  <div class="contact">
    <mat-form-field class="website">
      <input
        floatLabel="never"
        type="text"
        matInput
        name="website"
        [(ngModel)]="data.orgInfo.website"
        placeholder="{{ 'website' || data.orgInfo.website }}"
      />
    </mat-form-field>
    <mat-form-field class="phone">
      <input
        floatLabel="never"
        type="tel"
        matInput
        name="phone"
        [(ngModel)]="data.orgInfo.phone"
        placeholder="{{ 'Phone #' || data.orgInfo.phone }}"
      />
    </mat-form-field>
  </div>

  <mat-form-field class="email">
    <input
      floatLabel="never"
      type="email"
      matInput
      name="email"
      [(ngModel)]="data.newUser.email"
      placeholder="Email"
    />
  </mat-form-field>

  <div class="password">
    <mat-form-field class="pass">
      <input
        floatLabel="never"
        type="password"
        matInput
        name="password"
        [(ngModel)]="data.newUser.password"
        placeholder="Password"
      />
    </mat-form-field>
    <mat-form-field class="verifyPass">
      <input
        floatLabel="never"
        type="password"
        matInput
        name="verifyPassword"
        (ngModel)="(verifyPassword)"
        placeholder="Verify Password"
      />

      {{ verifyPassword }}
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button mat-flat-button (click)="onCancel()">
    Cancel
  </button>
  <button
    mat-raised-button
    color="accent"
    cdkFocusInitial
    (click)="onRegister()"
  >
    Ok
  </button>
</div>


 -->
