<div class="container">

  <div class="form-container">
    <mat-form-field class="street">
      <input matInput placeholder="Enter your Street Address" required aria-label="Street Address" autocomplete="street-address">
    </mat-form-field>


    <mat-form-field class="city">
      <input matInput placeholder=" City" type="text" required aria-label="City" autocomplete="locality">
    </mat-form-field>

    <mat-form-field class="zip">
      <input matInput placeholder=" Zipcode" type="number" required aria-label="Zipcode" min="5" autocomplete="postal-code">
    </mat-form-field>

    <button mat-raised-button color="accent" class="btn">Get Started!</button>

  </div>

</div>