.container {
  /* background-color: lavender; */
  background-color: white;

  width: 65%;
  max-width: 650px;
  height: 275px;
  max-height: 350px;
  margin: 0 auto;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

mat-form-field {
  margin-bottom: 15px;
}

.form-container {
  /* display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-areas:
    "street street2"
    "city zip"
    "btn btn";
  grid-template-rows: 42% 42% auto;
  grid-template-columns: 65% 35%;
}

.form-container > * {
  width: 100%;
}

.street {
  grid-area: street;
}
.street2 {
  grid-area: street2;
  margin-left: 10px;
}
.city {
  grid-area: city;
}
.zip {
  grid-area: zip;
  margin-left: 10px;
}
.btn {
  grid-area: btn;
}

input {
  width: 400px;
}
