div{
  /* TODO: resize Image so its not so much of a resource hog */

  /* background: url(../assets/Images/backgroundImage.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}
