<div class="container">

  <div class="form-container">
    <mat-form-field class="email">
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="password">
      <input matInput placeholder="Enter your password" type='password' required>
    </mat-form-field>

    <button mat-raised-button color="accent" class="btn">Login</button>
  </div>



</div>