.container {
  background-color: lavender;

  width: 65%;
  max-width: 650px;
  height: 275px;
  max-height: 350px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

mat-form-field {
  margin-bottom: 25px;
}

.form-container {
  /* display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-areas: 
                      "email"
                      "password"
                      "btn";
  grid-template-rows: 42% 42% auto;
}

.form-container > * {
  width: 100%;
}

.email {
  grid-area: email;
}
.password {
  grid-area: password;
}
.btn {
  grid-area: btn;
}
