/* You can add global styles to this file, and also import other style files */



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  
  /* TODO: resize Image so its not so much of a resource hog */
  
  background: url(./assets/Images/backgroundImage.jpg);
  background-color: black;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}



::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}